#section1 {
    color: #ffffff;
    background-color: #6d02f8;
}
#section2 {
    color: #ffffff;
    background-color: #f802bb;
    align-items: center;
}
#section3 {
    color: #ffffff;
    background-color: #0281f8;
}
#section4 {
    color: #000000;
    background-color: #f4f802;
    align-items: center;
}
#section5 {
    color: #ffffff;
    background-color: #f80254;
}
#section6 {
    color: #ffffff;
    background-color: #b41df0;
}
#section7 {
    color: #242323;
    background-color: #02f89a;
    align-items: center;
}
#section8 {
    color: #000000;
    background-color: #02f0f8;
}
#section9 {
    color: #ffffff;
    background-color: #6d02f8;
}
#section10 {
    color: #ffffff;
    background-color: #f802bb;
    align-items: center;
}
#display {
    width: 90%;
    padding-left: 0.5vw;
    text-align: center;
}
