#section1 {
    color: #000000;
    background-color: #f4f802;
}
#section2 {
    color: #ffffff;
    background-color: #0281f8;
}
#section3 {
    color: #242323;
    background-color: #02f89a;
}
#section4 {
    color: #ffffff;
    background-color: #f80254;
}
#section5 {
    color: #000000;
    background-color: #02f0f8;
}
#section6 {
    color: #ffffff;
    background-color: #b41df0;
}
