#section1 {
    color: #000000;
    background-color: #f4f802;
    height: 150px;
}
#section2 {
    color: #ffffff;
    background-color: #0281f8;
    height: 150px;
}
#section3 {
    color: #242323;
    background-color: #02f89a;
    height: 260px;
}
#section4 {
    color: #ffffff;
    background-color: #f80254;
    height: 180px;
}
#section5 {
    color: #000000;
    background-color: #02f0f8;
    height: 180px;
}
#section6 {
    color: #ffffff;
    background-color: #b41df0;
    height: 180px;
}
