#section1 {
    color: #000000;
    background-color: #f4f802;
    height: 370px;
}
#section2 {
    color: #ffffff;
    background-color: #0281f8;
    height: 370px;
}
#section3 {
    color: #242323;
    background-color: #02f89a;
    height: 200px;
}
#section4 {
    color: #000000;
    background-color: #02f0f8;
    height: 200px;
}
#section5 {
    color: #ffffff;
    background-color: #f80254;
    height: 600px;
}
#section6 {
    color: #ffffff;
    background-color: #b41df0;
    height: 600px;
}
#display {
    width: 600px;
    height: auto;
    padding: 10px;
}
#display_logo {
    width: 350px;
    height: auto;
    padding: 10px;
    padding-left: 50px;
}
/* CSS for Tic Tac Toe */
.play_ttt {
    width: 85px;
    height: 85px;
    border: 0px;
    margin-top: 5px;
    text-decoration: solid;
    font-size: 20px;
    font-weight: 600;
    outline: none;
    background-color: #e7e7e7;
    color: #000000;
}
/* CSS for Bomber */
.play_b {
    width: 60px;
    height: 60px;
    border: 0px;
    margin-top: 5px;
    text-decoration: solid;
    font-size: 13px;
    font-weight: 600;
    outline: none;
    background-color: #e7e7e7;
    color: #000000;
}
