* {
    margin: 0px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
body {
    background-color: #000000;
}
.section {
    overflow: hidden;
    position: relative;
}
.section img {
    width: 100%;
}
.section_text {
    color: #ffffff;
}
.block {
    position: absolute;
    border: 1px solid #ffffff;
    padding: 1.2vw;
    transition-duration: 2s;
}
.block_head {
    font-weight: 900;
}
.block_sub {
    padding-top: 5px;
    font-weight: 400;
}
.block ul li {
    font-weight: 200;
}
.block:hover {
    background-color: #161616;
}
/* For Mobile Screen */
@media screen and (max-width: 430px) {
    .block {
        max-width: 41vw;
    }
    .block_head {
        font-size: 4vw;
    }
    .block_sub {
        font-size: 2vw;
    }
    .block ul li {
        font-size: 1.8vw;
    }
}
/* For Tablet Screen */
@media screen and (min-width: 432px) and (max-width: 768px) {
    .block {
        max-width: 40vw;
    }
    .block_head {
        font-size: 3.8vw;
    }
    .block_sub {
        font-size: 1.7vw;
    }
    .block ul li {
        font-size: 1.6vw;
    }
}
/* For Desktop Screen */
@media screen and (min-width: 769px) {
    .block {
        max-width: 37.5vw;
    }
    .block_head {
        font-size: 3.8vw;
    }
    .block_sub {
        font-size: 1.8vw;
    }
    .block ul li {
        font-size: 1.6vw;
    }
}
