.header {
    overflow: hidden;
    position: relative;
}
.header img {
    width: 100%;
}
.main_head {
    position: absolute;
    color: #ffffff;
    left: 35%;
    top: 30%;
    animation: opacity_0_1_lr 5s;
}
#main_head {
    font-size: 8vw;
    font-weight: 800;
}
#sub_head {
    font-size: 4vw;
    font-weight: 600;
    padding-left: 2vw;
}
