#section0 {
    color: #ffffff;
    background-color: #6d02f8;
}
#section01 {
    color: #ffffff;
    background-color: #f802bb;
    align-items: center;
}
#section1 {
    color: #000000;
    background-color: #f4f802;
}
#section2 {
    color: #ffffff;
    background-color: #0281f8;
    align-items: center;
}
#section3 {
    color: #242323;
    background-color: #02f89a;
    align-items: center;
}
#section4 {
    color: #000000;
    background-color: #02f0f8;
}
#section5 {
    color: #ffffff;
    background-color: #f80254;
}
#section6 {
    color: #ffffff;
    background-color: #b41df0;
}
#display {
    width: 90%;
    padding-left: 0.5vw;
    text-align: center;
}
/* CSS for Tic Tac Toe */
.play_ttt {
    width: 8.5vw;
    height: 8.5vw;
    border: 0vw;
    margin-top: 0.5vw;
    text-decoration: solid;
    font-size: 2vw;
    font-weight: 600;
    outline: none;
    background-color: #e7e7e7;
    color: #000000;
}
/* CSS for Bomber */
.play_b {
    width: 6vw;
    height: 6vw;
    border: 0vw;
    margin-top: 0.5vw;
    text-decoration: solid;
    font-size: 1.3vw;
    font-weight: 600;
    outline: none;
    background-color: #e7e7e7;
    color: #000000;
}
