/* For Mobile Screen */
@media screen and (max-width: 430px) {
    .example_img {
        width: 40vw;
        border: 3px solid #000000;
    }
    /* CSS for Tic Tac Toe */
    .play_ttt {
        width: 12vw;
        height: 12vw;
        margin-top: 0.5vw;
        font-size: 2vw;
    }
    /* CSS for Bomber */
    .play_b {
        width: 9vw;
        height: 9vw;
        margin-top: 0.5vw;
        font-size: 2.5vw;
    }
    #b_game_img {
        width: 4.5vw;
        height: 4.5vw;
    }
}
/* For Tablet Screen */
@media screen and (min-width: 432px) and (max-width: 768px) {
    .example_img {
        width: 35vw;
        border: 3px solid #000000;
    }
    /* CSS for Tic Tac Toe */
    .play_ttt {
        width: 9vw;
        height: 9vw;
        margin-top: 0.5vw;
        font-size: 2vw;
    }
    /* CSS for Bomber */
    .play_b {
        width: 6.5vw;
        height: 6.5vw;
        margin-top: 0.5vw;
        font-size: 2.5vw;
    }
    #b_game_img {
        width: 4vw;
        height: 4vw;
    }
}
/* For Desktop Screen */
@media screen and (min-width: 769px) {
    .example_img {
        width: 30vw;
        border: 3px solid #000000;
    }
    /* CSS for Tic Tac Toe */
    .play_ttt {
        width: 9vw;
        height: 9vw;
        margin-top: 0.5vw;
        font-size: 2vw;
    }
    /* CSS for Bomber */
    .play_b {
        width: 6.5vw;
        height: 6.5vw;
        margin-top: 0.5vw;
        font-size: 2.5vw;
    }
    #b_game_img {
        width: 2vw;
        height: 2vw;
    }
}

/* CSS For the game */
/* Combined property */
.play_b,
.play_ttt {
    outline: none;
    background-color: #e7e7e7;
    color: #000000;
    text-decoration: solid;
    font-weight: 600;
    border: 0vw;
    transition-duration: 300ms;
}
.play_b:hover,
.play_ttt:hover {
    background-color: #949494;
}
#b_game_img {
    padding: 0px;
    overflow: hidden;
}
